.container {
    margin: 80px 0;
    min-height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 0.8em;
}

.info-box {
    width: 280px;
    vertical-align: top;
    text-align: center;
    margin-bottom: 20px;
}

.info-box>h2 {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.game-wrap {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.auto-x-label {
    display: block;
    margin-top: 3rem;
    cursor: pointer;
    font-size: 14px;
}

.auto-o-label {
    display: block;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 14px;
}

.toggle-btn {
    appearance: none;
    transform: translateY(0.22em);
    height: 1.2rem;
    width: 2.1rem;
    background-color: #fff;
    position: relative;
    border-radius: 0.12em;
    cursor: pointer;
    font-size: 16px;
}

.toggle-btn::before {
    content: '';
    display: block;
    height: 1em;
    width: 1em;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(1em/2 + 0.18em);
    background-color: #E81B1B;
    border-radius: 0.12em;
    transition: .3s ease;
}

.toggle-btn:checked::before {
    background-color: navy !important;
    left: calc(100% - (1em/2 + 0.18em));
}

.auto-x-label>.toggle-btn::before {
    background-color: #c0392b;
}

.auto-o-label>.toggle-btn::before {
    background-color: #16a085;
}

@media (max-aspect-ratio: 12 / 9) {
    .game-wrap {
        flex-direction: column-reverse;
        align-items: center;
    }

    .container {
        padding: 0;
    }

    .auto-x-label {
        display: none;
    }

    .auto-o-label {
        display: none;
    }

    
}